@keyframes scroll {
  0% {
    height: 0px;
  }
  100% {
    height: 50%;
    transform: translateY(100%);
    background: white; 
  }
}

// Navbar
.nav {
  z-index: 2;
  position: fixed; 
  right: 0; 
  top: 10vh; 
  height: 80vh;
  width: 70px; 
  border-left: solid 3px white; 

  .nav__cursor {
    width: 5px; 
    height: 50px;
    background: $first-color;
    position: absolute; 
    top: 15px; 
    left: -4px; 
  }

  ul {
    height: 100%; 
    width: 100%; 
    @include flexcolumn(space-between);
    text-align: center; 
    padding: 30px 0; 
    font-weight: bold; 
  }

  li {
    cursor: pointer;
  }
}

// Global section
.homeSection {
  width: 100vw; 
  height: 100vh;
}

// Section one
.homeSection--one {
  @include flexcolumn(center);
  text-align: center; 

  h1 {
    font-size: 3.5rem; 
    font-weight: bold; 
    line-height: 1.5; 
  }

  h2 {
    font-size: 2rem; 
  }
}

.scroll {
  position: absolute; 
  bottom: 0; 
  width: 20vw; 
  left: 40vw;
  font-size: 0.7rem; 
  line-height: 1.5; 
  @include flexcolumn(space-between);
  align-items: center; 

  .scroll--item {
    width: 3px; 
    height: 100px;
    background: rgb(173, 173, 173); 
    margin-top: 15px; 
    z-index: -1;
  }

  .scroll__item--clitoris {
    width: 100%; 
    margin: 0 auto; 
    animation: scroll 1s infinite; 
  }
}

// Section two
.homeSection--two {
  background-image: url('../img/tunnel.jpg'); 
  @include bgimg(cover); 
  position: relative; 
  overflow: hidden;
}

.riverside__content {
  width: 600px; 
  position: absolute; 
  right: 150px; 
  top: 120px; 
}

.riverside__content:nth-child(2) {
  opacity: 0;
}

.riverside__title, .riverside__subtitle {
    font-weight: bold; 
}

.riverside__title {
  font-size: 130px; 
}

.riverside__subtitle {
 font-size: 112px; 
 color: $first-color; 
}

.riverside__text {
  line-height: 1.5; 
}


// Section three
.homeSection--three {
  background-image: url('../img/vietnam.jpg'); 
  @include bgimg(cover); 
  position: relative; 
  overflow: hidden;
}

.vietnam__content {
  height: 100%;
}

.vietnam__img {
  position: absolute; 
  top: 0; 
  width: 120%; 
  height: 120%;
  opacity: 0;
  background-color: black; 
  margin: auto;
  animation: move 2s linear alternate infinite; 

  img {
    width: 80%; 
    height: 80%;
    width: 100%; 
    height: 100%;
  }
}

// Section four 
.homeSection--four {
  background-image: url('../img/people.jpg');
  @include bgimg(80%);
  height: 250vh;
}

// Section five

.homeSection--five {
  position: relative;
  height: 250vh;
}

.sectionFive__text {
  position: absolute; 
}

.sectionFive__cover {
  position: absolute; 

  img {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
  }
}

.sectionFive__cover:nth-child(odd) {
  left: 120px;
}

.sectionFive__cover:nth-child(even) {
  right:120px; 
}

.sectionFive__cover:nth-child(1) {
  width: 412px; 
  height: 430px;
}

.sectionFive__cover:nth-child(2) {
  width: 664px; 
  height: 440px;
  top: 300px;
}

.sectionFive__cover:nth-child(3) {
  width: 590px; 
  height: 600px;
  top: 600px;
}

.sectionFive__cover:nth-child(4) {
  width: 574px; 
  height: 383px;
  top: 900px;
}

.sectionFive__cover:nth-child(5) {
  width: 663px; 
  height: 448px;
  top: 1200px;
}