.veteran {
  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;
  // background-image: url('../img/img3.jpg');
  background-size: cover;
  background-position: center;

  img {
    position: absolute;
    object-fit: cover;
  }

  .parallax {
    overflow: hidden;
    position: absolute;
    margin-top: 10vh;
    margin-left: 10vw;
    z-index: 1;
    width: 80vw;
    height: 80vh;
    .front {
      width: 100%;
    }
  }

  .back {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    filter: brightness(50%);
  }
  p {
    font-size: 1.5em;
    z-index: 2;
    color: white;
    position: absolute;
    width: 30%;
    margin-left: 11vw;
    margin-top: 63vh;
  }

  h2 {

    font-size: 10em;
    z-index: 2;
    color: white;
    position: absolute;
    float: right;
    margin-left: 70vw;
    margin-top: 63vh;
  }
}